body {
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

article {
    background-color: #3c3e3f;
    margin-top: 0;
}

article ul {
    color: whitesmoke;
}

article ol {
    color: whitesmoke;
}

a {
    color: goldenrod;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin: 0px;
}

section {
    margin-top: 0;
}

.resource {
    display: inline-block;
}

.link-list {
    display: flex;
    justify-content: center;
}

.images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "one two three"
        "four five six";
}

.gallery-image {
    height: 350px;
    width: auto;
}

#image-one {
    grid-area: one;
}

#image-two {
    grid-area: two;
}

#image-three {
    grid-area: three;
}

#image-four {
    grid-area: four;
}

#image-five {
    grid-area: five;
}

#image-six {
    grid-area: six;
}